a{
  @apply text-white hover:text-yellow;
}
li {
  @apply list-none;
}
.pin-header {
  @apply bg-gray-600;
}
.page-home-data,
.front-page-data,
.error404 {
  .header:not(.pin-header):not(.is-open-menu) {
    .hamburger-menu .icon-bar {
      @apply bg-brown-100;
    }

    .main-menu-ul {
      @apply text-white;
    }

    .btn-transparent {
      @apply text-white border-white;

      &:hover {
        @apply text-white border-white;
      }
    }
  }
}


.screenshot {
  .header {
    @apply left-auto transform-none;
  }
}
.header-logo{
  max-width: 150px;
}
@screen down_lg {
  header {
    &::after {
      content: '';
      @apply bg-gray-700 right-0 left-0 top-0 bottom-full absolute z-a-1;
    }
    &.is-open-menu {
      height: calc(100% + 70px);

      &::after {
        @apply bottom-0;
      }

    }
  }

  .touch {
    .main-menu-ul {
      flex: 0 0 auto;
    }
  }
}


@media (max-width: 767px) and (orientation: landscape) {
  .header {
    @apply absolute bg-transparent #{!important};
  }
}
