.solution {
    @apply my-20 px-[15%];
   
}
.solution-main {
    @apply md:flex text-center gap-10;
    
}
.multi-solution-one {
    @apply md:p-0 px-[20%] py-5;
    h3:first-child {
        @apply px-30;
    }
    h3:last-child {
        @apply text-red-600 pt-18;
    }
}
.img-solution-one {
    @apply items-center animate-bounce;
    img {
        @apply block mx-auto;
    }
}
.multi-solution-two {
    @apply md:px-0 px-[20%] py-5;
   
    h3:first-child {
        @apply block mx-auto animate-bounce;
    }
    h3:last-child {
        @apply text-red-600 pt-18;
    }
}
.img-solution-two {
    @apply block mx-auto animate-bounce;
}
.multi-solution-three {
    @apply md:px-0 px-[20%] py-5;
  
    h3:first-child {
        @apply px-30;
    }
    h3:last-child {
        @apply text-red-600 pt-18;
    }
}
.img-solution-three {
    @apply block mx-auto animate-bounce;
}