@layer components {
  .col{
    @apply px-8;
  }
  .row{
    @apply flex flex-wrap;
  }
  .bg{
    @apply bg-no-repeat bg-top bg-cover;
  }
  .container {
    @apply mx-auto w-full;
  }

  .transform-middle{
    top: 50%;
    transform: translateY(-50%)
  }
  .transform-center{
    left: 50%;
    transform: translateX(-50%)
  }
  .transform-center-middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.last-mb-none {
  *:last-child{
    @apply mb-0;
  }
}

